/* ini css template yang sudah di jadikan satu yang tadinya berasal dari template master */

.select2-container {
    width: 100% !important;
    padding: 0;
}

.loadText {
    font-family: Arial;
    color: #000;
    font-size: 30px;
}

.preloader {
    background-color: #ffffff;
    height: 110%;
    padding-top: 60px;
    margin-left: -20px;
    margin-top: -20px;
    position: fixed;
    width: 105%;
    z-index: 10000000;
}

.btn {
    border-radius: 0px;
}

.skin-green-light .main-header .logo {
    background: linear-gradient(45deg, #3CB371, #20B2AA, #228B22, #556B2F, #2E8B57, #3CB371);
    background-size: 500% 500%;
    -webkit-animation: ignielGradient 12s ease infinite;
    -moz-animation: ignielGradient 12s ease infinite;
    animation: ignielGradient 12s ease infinite;
}

@-webkit-keyframes ignielGradient {
    0% {
        background-position: 50% 00%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}

@-moz-keyframes ignielGradient {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}

@keyframes ignielGradient {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}

.skin-green-light .sidebar-menu>li.header {
    /*color: #1df3f3;
  background: #2E8B57;*/
}

.skin-green-light .main-sidebar {
    border-right: 3px solid #fff;
    background: rgb(239, 255, 255);
    background: linear-gradient(to top, #3CB371 85%, #F5FFFA);
    /*   background: radial-gradient(circle, rgba(239, 255, 255)80%, rgba(60, 179, 113,)1%)*/
}

.skin-green-light .sidebar a {
    color: #ffffff;
}

.skin-green-light .main-header .navbar {
    background: linear-gradient(45deg, #3CB371, #20B2AA, #228B22, #556B2F, #2E8B57, #3CB371);
    background-size: 500%;
    -webkit-animation: ignielGradient 12s ease infinite;
    -moz-animation: ignielGradient 12s ease infinite;
    animation: ignielGradient 12s ease infinite;
}

@-webkit-keyframes ignielGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes ignielGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes ignielGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


/*loader 3*/

.loader3:before,
.loader3:after,
.loader3 {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader3 {
    font-size: 2px;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader3:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader3:after {
    left: 3.5em;
}

.loader3:before,
.loader3:after {
    content: '';
    position: absolute;
    top: 0;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #0000FF;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #0000FF;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em #0000FF;
    }
    40% {
        box-shadow: 0 2.5em 0 0 #0000FF;
    }
}


/*akhir loader3*/

</style><style type="text/css">* {
    margin: 0;
    padding: 0;
}


/* Icon 1 */

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
    width: 40px;
    height: 20px;
    position: relative;
    border-radius: 9px;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #000000;
    border-radius: 9px;
    opacity: 1;
}

#nav-icon1 span:nth-child(1) {
    top: -2px;
}

#nav-icon1 span:nth-child(2) {
    top: 8px;
}

#nav-icon1 span:nth-child(3) {
    top: 18px;
}

.custom {
    border-collapse: collapse;
    width: 100%;
}

.custom td,
.custom th {
    border: 1px solid black;
    padding: 8px;
}

.custom tr:nth-child(even) {
    background-color: #f2f2f2;
}

.custom tr:hover {
    background-color: #ddd;
}

.custom th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00a65a;
    color: white;
}

.fa-sort-amount-asc,
.fa-sort-amount-desc {
    color: yellow;
}


/* untuk animasai warna menu samping */

.treeview-menu>li:hover {
    animation: mymove 10s infinite;
}

@keyframes mymove {
    from {
        background-color: yellowgreen;
    }
    to {
        background-color: lavender;
    }
}


/* css berikut untuk memodifikasi jam yang ada di header menu sebelah kanan */

.jam-digital-mame {
    overflow: hidden;
    width: 15%;
    /* margin: 20px auto; */
    border: 5px solid transparent;
}

.jam .menit .detik {
    float: left;
    /* padding-top:0px; */
    font-size: 200px;
    width: 33.3%;
    height: 50px;
    background-color: #00a65a !important;
}

.jam-digital-mame p {
    color: #fff;
    font-size: 20px;
    text-align: center;
    /* margin-top: 20%; */
}

.center-navbar {
    display: block;
    text-align: center;
    color: white;
    padding: 15px;
}


/* akhir css untuk jam  */