.custom-green {
    border-collapse: collapse;
    width: 100%;
}

.custom-green td, .custom-green th {
    border: 1px solid #ddd;
    padding: 8px;
}

.custom-green tr:nth-child(even){background-color: #f2f2f2;}

.custom-green tr:hover {background-color: #ddd;}

.custom-green th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}